Select query with constraints
SELECT column, another_column, …
FROM mytable
WHERE condition
    AND/OR another_condition
    AND/OR …;

Operator                           Condition                                          SQL Example
=, !=, < <=, >, >=       Standard numerical operators                               col_name != 4
BETWEEN … AND …          Number is within range of two values (inclusive)           col_name BETWEEN 1.5 AND 10.5
NOT BETWEEN … AND …      Number is not within range of two values (inclusive)       col_name NOT BETWEEN 1 AND 10
IN (…)                   Number exists in a list                                    col_name IN (2, 4, 6)
NOT IN (…)               Number does not exist in a list                            col_name NOT IN (1, 3, 5)

In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [5]:
ret = conn.execute('''Select * from movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

Find the movie with a row id of 6

In [4]:
ret = conn.execute('''Select * from movies where id=6;''')
for r in ret:
    print(r)

(6, 'The Incredibles', 'Brad Bird', 2004, 116)

Find the movies released in the years between 2000 and 2010

In [6]:
ret = conn.execute('''SELECT * FROM movies where year between 2000 and 2010;''')
for r in ret:
    print(r)

(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)

Find the movies not released in the years between 2000 and 2010

In [7]:
ret = conn.execute('''SELECT * FROM movies where year Not between 2000 and 2010;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

Find the first 5 Pixar movies and their release year

In [8]:
ret = conn.execute('''SELECT title,year FROM movies where id <6;''')
for r in ret:
    print(r)

('Toy Story', 1995)
("A Bug's Life", 1998)
('Toy Story 2', 1999)
('Monsters, Inc.', 2001)
('Finding Nemo', 2003)

In [ ]:
conn.close()