In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [2]:
ret = conn.execute('''Select * from movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

INSERT a row into movies table

In [5]:
conn.execute('''INSERT INTO movies (id,title,director,year,length_minutes) values(87,'WALL-G','Brenda Chapman',2042,97);''')

In [6]:
ret = conn.execute('''Select * from movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)
(87, 'WALL-G', 'Brenda Chapman', 2042, 97)

Operator         Condition                                                                                     Example
=                Case sensitive exact string comparison (notice the single equals)                   col_name = "abc"
!= or <>         Case sensitive exact string inequality comparison                                   col_name != "abcd"
LIKE             Case insensitive exact string comparison                                            col_name LIKE "ABC"
NOT LIKE         Case insensitive exact string inequality comparison                                 col_name NOT LIKE "ABCD"
%                Used anywhere in a string to match a sequence of zero or more                       col_name LIKE "%AT%"
                 characters (only with LIKE or NOT LIKE)                                             (matches "AT", "ATTIC", "CAT" 
                                                                                                       or even "BATS")
_                Used anywhere in a string to match a single character                               col_name LIKE "AN_"
                 (only with LIKE or NOT LIKE)                                                        (matches "AND", but not "AN")
IN (…)          String exists in a list                                                              col_name IN ("A", "B", "C")
NOT IN (…)      String does not exist in a list                                                      col_name NOT IN ("D", "E", "F")

Find all the Toy Story movies

In [7]:
ret = conn.execute('''SELECT * FROM movies where title Like "Toy%";''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)

Find all the movies directed by John Lasseter

In [8]:
ret = conn.execute('''SELECT * FROM movies where director = 'John Lasseter';''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(7, 'Cars', 'John Lasseter', 2006, 117)
(12, 'Cars 2', 'John Lasseter', 2011, 120)

Find all the movies (and director) not directed by John Lasseter

In [9]:
ret = conn.execute('''SELECT title, director FROM movies where director != 'John Lasseter';''')
for r in ret:
    print(r)

('Monsters, Inc.', 'Pete Docter')
('Finding Nemo', 'Andrew Stanton')
('The Incredibles', 'Brad Bird')
('Ratatouille', 'Brad Bird')
('WALL-E', 'Andrew Stanton')
('Up', 'Pete Docter')
('Toy Story 3', 'Lee Unkrich')
('Brave', 'Brenda Chapman')
('Monsters University', 'Dan Scanlon')
('WALL-G', 'Brenda Chapman')

Find all the WALL-* movies

In [10]:
ret = conn.execute('''SELECT * FROM movies where title like 'WALL-%';''')
for r in ret:
    print(r)

(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(87, 'WALL-G', 'Brenda Chapman', 2042, 97)