In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [3]:
# Create Table
conn.execute('''CREATE TABLE IF NOT EXISTS north_american_cities
         (city TEXT,
         country TEXT, 
         Population INT,
         Latitude Real,
         Longitude Real);''')

print("Table created Successfully")

Table created Successfully

In [4]:
df = pd.read_csv('02_table_north_american_cities.csv', sep='\t')
df.head()

           City        Country  Population   Latitude   Longitude
0   Guadalajara         Mexico     1500800  20.659699 -103.349609
1       Toronto         Canada     2795060  43.653226  -79.383184
2       Houston  United States     2195914  29.760427  -95.369803
3      New York  United States     8405837  40.712784  -74.005941
4  Philadelphia  United States     1553165  39.952584  -75.165222

In [6]:
ret = df.to_sql('north_american_cities', conn, if_exists='replace', index=False)
print(ret, " Rows inserted into table")

12  Rows inserted into table

In [7]:
ret = conn.execute('''Select * from north_american_cities;''')
for r in ret:
    print(r)

('Guadalajara', 'Mexico', 1500800, 20.659699, -103.349609)
('Toronto', 'Canada', 2795060, 43.653226, -79.383184)
('Houston', 'United States', 2195914, 29.760427, -95.369803)
('New York', 'United States', 8405837, 40.712784, -74.005941)
('Philadelphia', 'United States', 1553165, 39.952584, -75.165222)
('Havana', 'Cuba', 2106146, 23.05407, -82.345189)
('Mexico City', 'Mexico', 8555500, 19.432608, -99.133208)
('Phoenix', 'United States', 1513367, 33.448377, -112.074037)
('Los Angeles', 'United States', 3884307, 34.052234, -118.243685)
('Ecatepec de Morelos', 'Mexico', 1742000, 19.601841, -99.050674)
('Montreal', 'Canada', 1717767, 45.501689, -73.567256)
('Chicago', 'United States', 2718782, 41.878114, -87.629798)

List all the Canadian cities and their populations

In [8]:
ret = conn.execute('''SELECT city, population FROM north_american_cities where country = 'Canada';''')
for r in ret:
    print(r)

('Toronto', 2795060)
('Montreal', 1717767)

Order all the cities in the United States by their latitude from north to south

In [9]:
ret = conn.execute('''SELECT city FROM north_american_cities where country = 'United States' order by Latitude DESC;''')
for r in ret:
    print(r)

('Chicago',)
('New York',)
('Philadelphia',)
('Los Angeles',)
('Phoenix',)
('Houston',)

List all the cities west of Chicago, ordered from west to east

In [10]:
ret = conn.execute('''SELECT city, longitude FROM north_american_cities WHERE longitude < -87.629798 ORDER BY longitude ASC;''')
for r in ret:
    print(r)

('Los Angeles', -118.243685)
('Phoenix', -112.074037)
('Guadalajara', -103.349609)
('Mexico City', -99.133208)
('Ecatepec de Morelos', -99.050674)
('Houston', -95.369803)

List the two largest cities in Mexico (by population)

In [11]:
ret = conn.execute('''SELECT city FROM north_american_cities WHERE country = 'Mexico' order by population desc limit 2;''')
for r in ret:
    print(r)

('Mexico City',)
('Ecatepec de Morelos',)

List the third and fourth largest cities (by population) in the United States and their population

In [12]:
ret = conn.execute('''SELECT city, population FROM north_american_cities WHERE country = 'United States' order by population desc limit 2 offset 2;''')
for r in ret:
    print(r)

('Chicago', 2718782)
('Houston', 2195914)