Select query with INNER JOIN on multiple tables
SELECT column, another_table_column, …
FROM mytable
INNER JOIN another_table 
    ON mytable.id = another_table.id
WHERE condition(s)
ORDER BY column, … ASC/DESC
LIMIT num_limit OFFSET num_offset;

In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [2]:
# Create Table
conn.execute('''CREATE TABLE IF NOT EXISTS boxoffice
         (movie_id INT PRIMARY KEY,
         rating FLOAT, 
         domestic_sales REAL,
         international_sales REAL);''')

print("Table created Successfully")

Table created Successfully

In [3]:
df = pd.read_csv('03_Boxoffice.csv', sep='\t')
df.head()

   Movie_id  Rating  Domestic_sales  International_sales
0         5     8.2       380843261            555900000
1        14     7.4       268492764            475066843
2         8     8.0       206445654            417277164
3        12     6.4       191452396            368400000
4         3     7.9       245852179            239163000

In [4]:
ret = df.to_sql('boxoffice', conn, if_exists='replace', index=False)
print(ret, " Rows inserted into table")

14  Rows inserted into table

Find the domestic and international sales for each movie

In [5]:
ret = conn.execute('''SELECT title, domestic_sales, international_sales FROM boxoffice inner join movies on boxoffice.movie_id = movies.id;''')
for r in ret:
    print(r)

('Finding Nemo', 380843261, 555900000)
('Monsters University', 268492764, 475066843)
('Ratatouille', 206445654, 417277164)
('Cars 2', 191452396, 368400000)
('Toy Story 2', 245852179, 239163000)
('The Incredibles', 261441092, 370001000)
('WALL-E', 223808164, 297503696)
('Toy Story 3', 415004880, 648167031)
('Toy Story', 191796233, 170162503)
('Cars', 244082982, 217900167)
('Up', 293004164, 438338580)
('Monsters, Inc.', 289916256, 272900000)
("A Bug's Life", 162798565, 200600000)
('Brave', 237283207, 301700000)

Show the sales numbers for each movie that did better internationally rather than domestically

In [6]:
ret = conn.execute('''SELECT title, domestic_sales, international_sales FROM boxoffice inner join movies on boxoffice.movie_id = movies.id where international_sales > domestic_sales;''')
for r in ret:
    print(r)

('Finding Nemo', 380843261, 555900000)
('Monsters University', 268492764, 475066843)
('Ratatouille', 206445654, 417277164)
('Cars 2', 191452396, 368400000)
('The Incredibles', 261441092, 370001000)
('WALL-E', 223808164, 297503696)
('Toy Story 3', 415004880, 648167031)
('Up', 293004164, 438338580)
("A Bug's Life", 162798565, 200600000)
('Brave', 237283207, 301700000)

List all the movies by their ratings in descending order

In [7]:
ret = conn.execute('''SELECT title FROM boxoffice inner join movies on boxoffice.movie_id = movies.id order by rating desc;''')
for r in ret:
    print(r)

('WALL-E',)
('Toy Story 3',)
('Toy Story',)
('Up',)
('Finding Nemo',)
('Monsters, Inc.',)
('Ratatouille',)
('The Incredibles',)
('Toy Story 2',)
('Monsters University',)
('Cars',)
("A Bug's Life",)
('Brave',)
('Cars 2',)

In [ ]:
conn.close()