Update statement with values
UPDATE mytable
SET column = value_or_expr, 
    other_column = another_value_or_expr, 
    â€¦
WHERE condition;

In [7]:
import pandas as pd

In [8]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [9]:
ret = conn.execute('''SELECT * FROM movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

In [10]:
ret = conn.execute('''SELECT * FROM boxoffice;''')
for r in ret:
    print(r)

(5, 8.2, 380843261, 555900000)
(14, 7.4, 268492764, 475066843)
(8, 8.0, 206445654, 417277164)
(12, 6.4, 191452396, 368400000)
(3, 7.9, 245852179, 239163000)
(6, 8.0, 261441092, 370001000)
(9, 8.5, 223808164, 297503696)
(11, 8.4, 415004880, 648167031)
(1, 8.3, 191796233, 170162503)
(7, 7.2, 244082982, 217900167)
(10, 8.3, 293004164, 438338580)
(4, 8.1, 289916256, 272900000)
(2, 7.2, 162798565, 200600000)
(13, 7.2, 237283207, 301700000)

The director for A Bug's Life is incorrect, it was actually directed by John Lasseter

In [11]:
ret = conn.execute('''Update movies SET director='John Lasseter' where id = 2;''')

OperationalError: database is locked

In [ ]:
ret = conn.execute('''SELECT * FROM movies;''')
for r in ret:
    print(r)

The year that Toy Story 2 was released is incorrect, it was actually released in 1999

In [ ]:
ret = conn.execute('''SELECT * FROM boxoffice;''')
for r in ret:
    print(r)

Both the title and director for Toy Story 8 is incorrect! The title should be "Toy Story 3" and it was directed by Lee Unkrich

In [ ]:
ret = conn.execute('''SELECT * FROM boxoffice;''')
for r in ret:
    print(r)