Create table statement w/ optional table constraint and default value

CREATE TABLE IF NOT EXISTS mytable (
    column DataType TableConstraint DEFAULT default_value,
    another_column DataType TableConstraint DEFAULT default_value,
    …
);

                                                       Table data types

Data type	                         Description
INTEGER 	             The integer datatypes can store whole integer values like the count of a number or an age. 

BOOLEAN                  In some implementations, the boolean value is just represented as an integer value of just 0 or 1.             

FLOAT, DOUBLE,  	     The floating point datatypes can store more precise numerical data like measurements or fractional values. 
REAL                     Different types can be used depending on the floating point precision required for that value.
                    
CHARACTER(num_chars),    Both the CHARACTER and VARCHAR (variable character) types are specified with the max number of characters that                              they can store (longer values may be truncated), so can be more efficient to store and query with big tables.
VARCHAR(num_chars), 
TEXT	                 The text based datatypes can store strings and text in all sorts of locales. 

DATE, DATETIME	         SQL can also store date and time stamps to keep track of time series and event data. 

BLOB	                 SQL can store binary data in blobs. These values are often opaque to the database, so you usually have to store                            them with the right metadata to requery them.

                                                           Table constraints

Constraint	                                    Description
PRIMARY KEY	       This means that the values in this column are unique, and each value can be used to identify a single row in this table.

AUTOINCREMENT	   For integer values, this means that the value is automatically filled in and incremented with each row insertion. Not                      supported in all databases.

UNIQUE	           This means that the values in this column have to be unique, so you can't insert another row with the same value in this                    column as another row in the table. Differs from the `PRIMARY KEY` in that it doesn't have to be a key for a row in the                    table.

NOT NULL	       This means that the inserted value can not be `NULL`.

CHECK (expression) This allows you to run a more complex expression to test whether the values inserted are valid. For example, you can                        check that values are positive, or greater than a specific size, or start with a certain prefix, etc.

FOREIGN KEY	       This is a consistency check which ensures that each value in this column corresponds to another value in a column in                        another table. For example, if there are two tables, one listing all Employees by ID, and another listing their payroll                    information, the `FOREIGN KEY` can ensure that every row in the payroll table corresponds to a valid employee in the                        master Employee list.

Create a new table named Database with the following columns:
– Name A string (text) describing the name of the database
– Version A number (floating point) of the latest version of this database
– Download_count An integer count of the number of times this database was downloaded
This table has no constraints.

In [10]:
import pandas as pd

import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [11]:
ret = conn.execute('''Create table if not exists database (
    name text,
    version float,
    download_count integer);''')

print("Table created Successfully")

Table created Successfully

In [15]:
ret = conn.execute('''SELECT name FROM sqlite_master
    WHERE type='table';''')
for r in ret:
    print(r)

('north_american_cities',)
('movies',)
('boxoffice',)
('employeees',)
('buildings',)
('employees',)
('database',)

In [16]:
conn.close()