Select query for a specific columns <br>
SELECT column, another_column, â€¦
FROM mytable;

Select query for all columns <br>
SELECT * 
FROM mytable;

In [1]:
import pandas as pd

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [3]:
# Create Table
conn.execute('''CREATE TABLE IF NOT EXISTS movies
         (Id INT PRIMARY KEY NOT NULL,
         Title TEXT, 
         Director TEXT,
         Year INT,
         Length_minutes INT);''')

print("Table created Successfully")

Table created Successfully

In [4]:
df = pd.read_csv('01_table_movies.csv', sep='\t')
df.head()

   Id           Title        Director  Year  Length_minutes
0   1       Toy Story   John Lasseter  1995              81
1   2    A Bug's Life   John Lasseter  1998              95
2   3     Toy Story 2   John Lasseter  1999              93
3   4  Monsters, Inc.     Pete Docter  2001              92
4   5    Finding Nemo  Andrew Stanton  2003             107

In [5]:
ret = df.to_sql('movies', conn, if_exists='replace', index=False)
print(ret, " Rows inserted into table")

14  Rows inserted into table

Find all the information about each film

In [6]:
ret = conn.execute('''Select * from movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

Find the title of each film

In [21]:
ret = conn.execute('''Select title from movies;''')
for r in ret:
    print(r)

('Toy Story',)
("A Bug's Life",)
('Toy Story 2',)
('Monsters, Inc.',)
('Finding Nemo',)
('The Incredibles',)
('Cars',)
('Ratatouille',)
('WALL-E',)
('Up',)
('Toy Story 3',)
('Cars 2',)
('Brave',)
('Monsters University',)

Find the director of each film

In [22]:
ret = conn.execute('''Select director from movies;''')
for r in ret:
    print(r)

('John Lasseter',)
('John Lasseter',)
('John Lasseter',)
('Pete Docter',)
('Andrew Stanton',)
('Brad Bird',)
('John Lasseter',)
('Brad Bird',)
('Andrew Stanton',)
('Pete Docter',)
('Lee Unkrich',)
('John Lasseter',)
('Brenda Chapman',)
('Dan Scanlon',)

Find the title and year of each film

In [23]:
ret = conn.execute('''Select title, year from movies;''')
for r in ret:
    print(r)

('Toy Story', 1995)
("A Bug's Life", 1998)
('Toy Story 2', 1999)
('Monsters, Inc.', 2001)
('Finding Nemo', 2003)
('The Incredibles', 2004)
('Cars', 2006)
('Ratatouille', 2007)
('WALL-E', 2008)
('Up', 2009)
('Toy Story 3', 2010)
('Cars 2', 2011)
('Brave', 2012)
('Monsters University', 2013)

Find the title and director of each film

In [24]:
ret = conn.execute('''Select title, director from movies;''')
for r in ret:
    print(r)

('Toy Story', 'John Lasseter')
("A Bug's Life", 'John Lasseter')
('Toy Story 2', 'John Lasseter')
('Monsters, Inc.', 'Pete Docter')
('Finding Nemo', 'Andrew Stanton')
('The Incredibles', 'Brad Bird')
('Cars', 'John Lasseter')
('Ratatouille', 'Brad Bird')
('WALL-E', 'Andrew Stanton')
('Up', 'Pete Docter')
('Toy Story 3', 'Lee Unkrich')
('Cars 2', 'John Lasseter')
('Brave', 'Brenda Chapman')
('Monsters University', 'Dan Scanlon')

In [ ]:
conn.close()