In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [2]:
ret = conn.execute('''Select * from movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

Select query with unique results
SELECT DISTINCT column, another_column, …
FROM mytable
WHERE condition(s);

Select query with ordered results
SELECT column, another_column, …
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC;

Select query with limited rows
SELECT column, another_column, …
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC
LIMIT num_limit OFFSET num_offset;

List all directors of Pixar movies (alphabetically), without duplicates

In [3]:
ret = conn.execute('''SELECT DISTINCT director FROM movies order by director;''')
for r in ret:
    print(r)

('Andrew Stanton',)
('Brad Bird',)
('Brenda Chapman',)
('Dan Scanlon',)
('John Lasseter',)
('Lee Unkrich',)
('Pete Docter',)

List the last four Pixar movies released (ordered from most recent to least)

In [4]:
ret = conn.execute('''SELECT title FROM movies order by year DESC Limit 4;''')
for r in ret:
    print(r)

('Monsters University',)
('Brave',)
('Cars 2',)
('Toy Story 3',)

List the first five Pixar movies sorted alphabetically

In [5]:
ret = conn.execute('''SELECT title FROM movies order by title ASC Limit 5;''')
for r in ret:
    print(r)

("A Bug's Life",)
('Brave',)
('Cars',)
('Cars 2',)
('Finding Nemo',)

List the next five Pixar movies sorted alphabetically

In [6]:
ret = conn.execute('''SELECT title FROM movies order by title ASC Limit 5 OFFSET 5;''')
for r in ret:
    print(r)

('Monsters University',)
('Monsters, Inc.',)
('Ratatouille',)
('The Incredibles',)
('Toy Story',)