Select query with expression aliases

SELECT col_expression AS expr_description, …
FROM mytable;

Example query with expressions
SELECT particle_speed / 2.0 AS half_particle_speed
FROM physics_data
WHERE ABS(particle_position) * 10.0 > 500;

Example query with both column and table name aliases
SELECT column AS better_column_name, …
FROM a_long_widgets_table_name AS mywidgets
INNER JOIN widget_sales
  ON mywidgets.id = widget_sales.widget_id;

In [1]:
import pandas as pd

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [3]:
ret = conn.execute('''SELECT * FROM movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

In [4]:
ret = conn.execute('''SELECT * FROM boxoffice;''')
for r in ret:
    print(r)

(5, 8.2, 380843261, 555900000)
(14, 7.4, 268492764, 475066843)
(8, 8.0, 206445654, 417277164)
(12, 6.4, 191452396, 368400000)
(3, 7.9, 245852179, 239163000)
(6, 8.0, 261441092, 370001000)
(9, 8.5, 223808164, 297503696)
(11, 8.4, 415004880, 648167031)
(1, 8.3, 191796233, 170162503)
(7, 7.2, 244082982, 217900167)
(10, 8.3, 293004164, 438338580)
(4, 8.1, 289916256, 272900000)
(2, 7.2, 162798565, 200600000)
(13, 7.2, 237283207, 301700000)

List all movies and their combined sales in millions of dollars

In [6]:
ret = conn.execute('''SELECT title, ((domestic_sales + international_sales) / 1000000) as sales FROM boxoffice inner join movies on movie_id = id;''')
for r in ret:
    print(r)

('Finding Nemo', 936)
('Monsters University', 743)
('Ratatouille', 623)
('Cars 2', 559)
('Toy Story 2', 485)
('The Incredibles', 631)
('WALL-E', 521)
('Toy Story 3', 1063)
('Toy Story', 361)
('Cars', 461)
('Up', 731)
('Monsters, Inc.', 562)
("A Bug's Life", 363)
('Brave', 538)

List all movies and their ratings in percent

In [7]:
ret = conn.execute('''SELECT title, (rating * 10) as r_percentage FROM boxoffice inner join movies on movie_id = id;''')
for r in ret:
    print(r)

('Finding Nemo', 82.0)
('Monsters University', 74.0)
('Ratatouille', 80.0)
('Cars 2', 64.0)
('Toy Story 2', 79.0)
('The Incredibles', 80.0)
('WALL-E', 85.0)
('Toy Story 3', 84.0)
('Toy Story', 83.0)
('Cars', 72.0)
('Up', 83.0)
('Monsters, Inc.', 81.0)
("A Bug's Life", 72.0)
('Brave', 72.0)

List all movies that were released on even number years

In [8]:
ret = conn.execute('''SELECT title FROM movies where year % 2 = 0;''')
for r in ret:
    print(r)

("A Bug's Life",)
('The Incredibles',)
('Cars',)
('WALL-E',)
('Toy Story 3',)
('Brave',)

In [ ]:
conn.close()