Select query with aggregate functions over all rows
SELECT AGG_FUNC(column_or_expression) AS aggregate_description, …
FROM mytable
WHERE constraint_expression;

Common aggregate functions

Function	        Description
COUNT(*),           A common function used to counts the number of rows in the group if no column name is specified.
COUNT(column)	    Otherwise, count the number of rows in the group with non-NULL values in the specified column.
MIN(column)	        Finds the smallest numerical value in the specified column for all rows in the group.
MAX(column)	        Finds the largest numerical value in the specified column for all rows in the group.
AVG(column)	        Finds the average numerical value in the specified column for all rows in the group.
SUM(column)	        Finds the sum of all numerical values in the specified column for the rows in the group.

Grouped aggregate functions

Select query with aggregate functions over groups
SELECT AGG_FUNC(column_or_expression) AS aggregate_description, …
FROM mytable
WHERE constraint_expression
GROUP BY column;

In [1]:
import pandas as pd

In [3]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [4]:
ret = conn.execute('''SELECT * FROM employees;''')
for r in ret:
    print(r)

('Engineer', 'Becky A.', '1e', 4)
('Engineer', 'Dan B.', '1e', 2)
('Engineer', 'Sharon F.', '1e', 6)
('Engineer', 'Dan M.', '1e', 4)
('Engineer', 'Malcom S.', '1e', 1)
('Artist', 'Tylar S.', '2w', 2)
('Artist', 'Sherman D.', '2w', 8)
('Artist', 'Jakob J.', '2w', 6)
('Artist', 'Lillia A.', '2w', 7)
('Artist', 'Brandon J.', '2w', 7)
('Manager', 'Scott K.', '1e', 9)
('Manager', 'Shirlee M.', '1e', 3)
('Manager', 'Daria O.', '2w', 6)

Find the longest time that an employee has been at the studio

In [7]:
ret = conn.execute('''SELECT max(years_employed) FROM employees;''')
for r in ret:
    print(r)

(('max(years_employed)', None, None, None, None, None, None),)
(9,)

For each role, find the average number of years employed by employees in that role

In [6]:
ret = conn.execute('''SELECT role,avg(years_employed) FROM employees group by role;''')
for r in ret:
    print(r)

('Artist', 6.0)
('Engineer', 3.4)
('Manager', 6.0)

Find the total number of employee years worked in each building

In [8]:
ret = conn.execute('''SELECT building,sum(years_employed) FROM employees group by building;''')
for r in ret:
    print(r)

('1e', 29)
('2w', 36)

In [ ]:
conn.close()