Select query with HAVING constraint
SELECT group_by_column, AGG_FUNC(column_expression) AS aggregate_result_alias, â€¦
FROM mytable
WHERE condition
GROUP BY column
HAVING group_condition;

The HAVING clause constraints are written the same way as the WHERE clause constraints, and are applied to the grouped rows.

In [1]:
import pandas as pd

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [12]:
ret = conn.execute('''SELECT * FROM employees;''')
for r in ret:
    print(r)

('Engineer', 'Becky A.', '1e', 4)
('Engineer', 'Dan B.', '1e', 2)
('Engineer', 'Sharon F.', '1e', 6)
('Engineer', 'Dan M.', '1e', 4)
('Engineer', 'Malcom S.', '1e', 1)
('Artist', 'Tylar S.', '2w', 2)
('Artist', 'Sherman D.', '2w', 8)
('Artist', 'Jakob J.', '2w', 6)
('Artist', 'Lillia A.', '2w', 7)
('Artist', 'Brandon J.', '2w', 7)
('Manager', 'Scott K.', '1e', 9)
('Manager', 'Shirlee M.', '1e', 3)
('Manager', 'Daria O.', '2w', 6)

Find the number of Artists in the studio (without a HAVING clause)

In [15]:
ret = conn.execute('''SELECT role,count(name) FROM employees where role='Artist';''')
for r in ret:
    print(r)

('Artist', 5)

Find the number of Employees of each role in the studio

In [13]:
ret = conn.execute('''SELECT role, count(name) FROM employees group by role;''')
for r in ret:
    print(r)

('Artist', 5)
('Engineer', 5)
('Manager', 3)

Find the total number of years employed by all Engineers

In [18]:
ret = conn.execute('''SELECT role,sum(years_employed) FROM employees where role='Engineer';''')
for r in ret:
    print(r)

('Engineer', 17)

In [19]:
ret = conn.execute('''SELECT role,sum(years_employed) FROM employees group by role having role='Engineer';''')
for r in ret:
    print(r)

('Engineer', 17)