Complete SELECT query
SELECT DISTINCT column, AGG_FUNC(column_or_expression), â€¦
FROM mytable
    JOIN another_table
      ON mytable.column = another_table.column
    WHERE constraint_expression
    GROUP BY column
    HAVING constraint_expression
    ORDER BY column ASC/DESC
    LIMIT count OFFSET COUNT;

1. FROM and JOINs
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. DISTINCT
7. ORDER BY
8. LIMIT / OFFSET

In [1]:
import pandas as pd

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [3]:
ret = conn.execute('''SELECT * FROM movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

In [4]:
ret = conn.execute('''SELECT * FROM boxoffice;''')
for r in ret:
    print(r)

(5, 8.2, 380843261, 555900000)
(14, 7.4, 268492764, 475066843)
(8, 8.0, 206445654, 417277164)
(12, 6.4, 191452396, 368400000)
(3, 7.9, 245852179, 239163000)
(6, 8.0, 261441092, 370001000)
(9, 8.5, 223808164, 297503696)
(11, 8.4, 415004880, 648167031)
(1, 8.3, 191796233, 170162503)
(7, 7.2, 244082982, 217900167)
(10, 8.3, 293004164, 438338580)
(4, 8.1, 289916256, 272900000)
(2, 7.2, 162798565, 200600000)
(13, 7.2, 237283207, 301700000)

Find the number of movies each director has directed

In [5]:
ret = conn.execute('''SELECT director,count(title) as moives FROM movies group by director;''')
for r in ret:
    print(r)

('Andrew Stanton', 2)
('Brad Bird', 2)
('Brenda Chapman', 1)
('Dan Scanlon', 1)
('John Lasseter', 5)
('Lee Unkrich', 1)
('Pete Docter', 2)

Find the total domestic and international sales that can be attributed to each director

In [6]:
ret = conn.execute('''SELECT director,sum(domestic_sales + international_sales) as t_sale FROM movies inner join boxoffice on id=movie_id group by director;''')
for r in ret:
    print(r)

('Andrew Stanton', 1458055121)
('Brad Bird', 1255164910)
('Brenda Chapman', 538983207)
('Dan Scanlon', 743559607)
('John Lasseter', 2232208025)
('Lee Unkrich', 1063171911)
('Pete Docter', 1294159000)