In SQL, the database schema is what describes the structure of each table, and the datatypes that each column of the table can contain.

Insert statement with values for all columns
INSERT INTO mytable
VALUES (value_or_expr, another_value_or_expr, …),
       (value_or_expr_2, another_value_or_expr_2, …),
       …;

Insert statement with specific columns
INSERT INTO mytable
(column, another_column, …)
VALUES (value_or_expr, another_value_or_expr, …),
      (value_or_expr_2, another_value_or_expr_2, …),
      …;

Example Insert statement with expressions
INSERT INTO boxoffice
(movie_id, rating, sales_in_millions)
VALUES (1, 9.9, 283742034 / 1000000);

In [1]:
import pandas as pd

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [3]:
ret = conn.execute('''SELECT * FROM movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)

In [4]:
ret = conn.execute('''SELECT * FROM boxoffice;''')
for r in ret:
    print(r)

(5, 8.2, 380843261, 555900000)
(14, 7.4, 268492764, 475066843)
(8, 8.0, 206445654, 417277164)
(12, 6.4, 191452396, 368400000)
(3, 7.9, 245852179, 239163000)
(6, 8.0, 261441092, 370001000)
(9, 8.5, 223808164, 297503696)
(11, 8.4, 415004880, 648167031)
(1, 8.3, 191796233, 170162503)
(7, 7.2, 244082982, 217900167)
(10, 8.3, 293004164, 438338580)
(4, 8.1, 289916256, 272900000)
(2, 7.2, 162798565, 200600000)
(13, 7.2, 237283207, 301700000)

Add the studio's new production, Toy Story 4 to the list of movies (you can use any director)

In [5]:
ret = conn.execute('''Insert into movies (id,title,director) values (15,'Toy Story 4','John Lasseter')''')
print("Insert Sucessful")
ret = conn.execute('''Select * from movies;''')
for r in ret:
    print(r)

Inser Sucessful
(1, 'Toy Story', 'John Lasseter', 1995, 81)
(2, "A Bug's Life", 'John Lasseter', 1998, 95)
(3, 'Toy Story 2', 'John Lasseter', 1999, 93)
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92)
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107)
(6, 'The Incredibles', 'Brad Bird', 2004, 116)
(7, 'Cars', 'John Lasseter', 2006, 117)
(8, 'Ratatouille', 'Brad Bird', 2007, 115)
(9, 'WALL-E', 'Andrew Stanton', 2008, 104)
(10, 'Up', 'Pete Docter', 2009, 101)
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103)
(12, 'Cars 2', 'John Lasseter', 2011, 120)
(13, 'Brave', 'Brenda Chapman', 2012, 102)
(14, 'Monsters University', 'Dan Scanlon', 2013, 110)
(15, 'Toy Story 4', 'John Lasseter', None, None)

Toy Story 4 has been released to critical acclaim! It had a rating of 8.7, and made 340 million domestically and 270 million internationally. Add the record to the BoxOffice table.

In [7]:
ret = conn.execute('''Insert into boxoffice values (15,8.7,340000000,270000000)''')
print("Insert Sucessful")
ret = conn.execute('''Select * from boxoffice;''')
for r in ret:
    print(r)

Insert Sucessful
(5, 8.2, 380843261, 555900000)
(14, 7.4, 268492764, 475066843)
(8, 8.0, 206445654, 417277164)
(12, 6.4, 191452396, 368400000)
(3, 7.9, 245852179, 239163000)
(6, 8.0, 261441092, 370001000)
(9, 8.5, 223808164, 297503696)
(11, 8.4, 415004880, 648167031)
(1, 8.3, 191796233, 170162503)
(7, 7.2, 244082982, 217900167)
(10, 8.3, 293004164, 438338580)
(4, 8.1, 289916256, 272900000)
(2, 7.2, 162798565, 200600000)
(13, 7.2, 237283207, 301700000)
(15, 8.7, 340000000, 270000000)
(15, 8.7, 340000000, 270000000)