Adding columns

Altering table to add new column(s)
ALTER TABLE mytable
ADD column DataType OptionalTableConstraint 
    DEFAULT default_value;

Removing columns

Altering table to remove column(s)
ALTER TABLE mytable
DROP column_to_be_deleted;

However, some databases (including SQLite) don't support this feature. Instead you may have to create a new table and migrate the data over.

Renaming the table

Altering table name
ALTER TABLE mytable
RENAME TO new_table_name;

In [12]:
import pandas as pd

import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [13]:
ret = conn.execute('''SELECT * FROM movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81, None, 'English')
(2, "A Bug's Life", 'John Lasseter', 1998, 95, None, 'English')
(3, 'Toy Story 2', 'John Lasseter', 1999, 93, None, 'English')
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92, None, 'English')
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107, None, 'English')
(6, 'The Incredibles', 'Brad Bird', 2004, 116, None, 'English')
(7, 'Cars', 'John Lasseter', 2006, 117, None, 'English')
(8, 'Ratatouille', 'Brad Bird', 2007, 115, None, 'English')
(9, 'WALL-E', 'Andrew Stanton', 2008, 104, None, 'English')
(10, 'Up', 'Pete Docter', 2009, 101, None, 'English')
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103, None, 'English')
(12, 'Cars 2', 'John Lasseter', 2011, 120, None, 'English')
(13, 'Brave', 'Brenda Chapman', 2012, 102, None, 'English')
(14, 'Monsters University', 'Dan Scanlon', 2013, 110, None, 'English')

Add a column named Aspect_ratio with a FLOAT data type to store the aspect-ratio each movie was released in.

In [10]:
ret = conn.execute('''Alter table movies
ADD aspect_ratio float;''')
ret = conn.execute('''SELECT * FROM movies;''')
for r in ret:
    print(r)

OperationalError: duplicate column name: aspect_ratio

Add another column named Language with a TEXT data type to store the language that the movie was released in. Ensure that the default for this language is English.

In [9]:
ret = conn.execute('''Alter table movies ADD language text Default 'English';''')
ret = conn.execute('''SELECT * FROM movies;''')
for r in ret:
    print(r)

(1, 'Toy Story', 'John Lasseter', 1995, 81, None, 'English')
(2, "A Bug's Life", 'John Lasseter', 1998, 95, None, 'English')
(3, 'Toy Story 2', 'John Lasseter', 1999, 93, None, 'English')
(4, 'Monsters, Inc.', 'Pete Docter', 2001, 92, None, 'English')
(5, 'Finding Nemo', 'Andrew Stanton', 2003, 107, None, 'English')
(6, 'The Incredibles', 'Brad Bird', 2004, 116, None, 'English')
(7, 'Cars', 'John Lasseter', 2006, 117, None, 'English')
(8, 'Ratatouille', 'Brad Bird', 2007, 115, None, 'English')
(9, 'WALL-E', 'Andrew Stanton', 2008, 104, None, 'English')
(10, 'Up', 'Pete Docter', 2009, 101, None, 'English')
(11, 'Toy Story 3', 'Lee Unkrich', 2010, 103, None, 'English')
(12, 'Cars 2', 'John Lasseter', 2011, 120, None, 'English')
(13, 'Brave', 'Brenda Chapman', 2012, 102, None, 'English')
(14, 'Monsters University', 'Dan Scanlon', 2013, 110, None, 'English')

In [19]:
conn.close()