Drop table statement
DROP TABLE IF EXISTS mytable;

If you have another table that is dependent on columns in table you are removing (for example, with a FOREIGN KEY dependency) then you will have to either update all dependent tables first to remove the dependent rows or to remove those tables entirely.

In [1]:
import pandas as pd

import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

Clean up by removing the Movies table

In [2]:
ret = conn.execute('''drop table movies;''')
ret = conn.execute('''SELECT name FROM sqlite_master
    WHERE type='table';''')
for r in ret:
    print(r)

('north_american_cities',)
('boxoffice',)
('employeees',)
('buildings',)
('employees',)
('database',)

Drop the BoxOffice table

In [3]:
ret = conn.execute('''drop table boxoffice;''')
ret = conn.execute('''SELECT name FROM sqlite_master
    WHERE type='table';''')
for r in ret:
    print(r)

('north_american_cities',)
('employeees',)
('buildings',)
('employees',)
('database',)

In [4]:
conn.close()